---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Pillars from "../components/Pillars.astro";
import QuickStart from "../components/QuickStart.astro";
import CommandRef from "../components/CommandRef.svelte";
import Architecture from "../components/Architecture.astro";
import RepoStructure from "../components/RepoStructure.astro";
import Requirements from "../components/Requirements.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <Pillars />
    <QuickStart />
    <CommandRef client:idle />
    <Architecture />
    <RepoStructure />
    <Requirements />
  </main>
  <Footer />
</Layout>
